/* Your code goes below here */

/*
  Examples of position selectors
*/

p em {
  font-size: 28px;
}

p strong {
  font-size: 32px;
}

ul {
    background-color: darkblue;
    color: darkorange;
}
/* Your code goes above here */